{% extends 'base.html' %}
{% load staticfiles %}
{% block main %}
      <main>
        <section class="site_main">
		  <div class="container">
			<div class="row">
				<div class="col-md-9">
					<div class="committee_block">
                        <h2>Current Committee</h2>
                        {% for member in stuff %}
                        <div class="item_item clearfix">
                            <div class="item_media">
                                {% if member.image.url %}
                                    <img src="{{ member.image.url }}" alt="{{ member.name }}" >
                                {% else %}
                                    <img src="https://encrypted-tbn1.gstatic.com/images?q=tbn:ANd9GcSEU3t3GI2E9ewv00BuKS_81R3BiUr1SEH1gSKBe9eDKcpiG7yQbg" alt="{{ member.last_name }}" ></div>
                                {% endif %}
                            </div>

                            <div class="item_main">
                                <h1>{{ member.position }}</h1>
                               <h2>{{ member.name }}</h2>
                               <div class="item_info">
                                <p>{{ member.discription }}
                               </div>

                            </div>
                        </div>
                        {% empty %}
                            <p>Please add stuff in admin page</p>
                        {% endfor %}

                    </div>
                </div>

                <div class="col-md-3">
					<aside class="year_aside debating_info">
                     <h2 class="p_bold">Previous Committees</h2>
                        {% for item in years %}
                        <a href="/community/{{ item }}" class="year_button hvr-sweep-to-bottom">{{ item }}</a>
                            {% empty %}
                            <p> no commities</p>
                        {% endfor %}
					</aside>
				</div>

              </div>
            </div>





	</section>
    </main>
{% endblock %}