{% extends 'base.html' %}
{% load staticfiles %}
{% block main %}
    <main>

       <section class="site_main textcenter">
		<div class="container">
            <div class="event_block">
                <h2 class="events_h2">Upcoming events</h2>
			<div class="row">
                <div id="effect">
				<div class="col-sm-6 col-md-4">
					<div class="gallery_block clearfix">
				        <figure>
                           <img src="img/owl1.jpg" alt="">
                           <figcaption>
                               <h3>Debating process</h3>
                               <span>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</span>
                               <a href="#" class="close-caption hidden">x</a>
                           </figcaption>
                        </figure>
                        <div class="gallery_block_left">
                            <i class="fa fa-university"></i>
                            <span class="hint">Event</span>
                            <span>Debating process</span>
                        </div>
                        <div class="gallery_block_right">
                            <i class="fa fa-clock-o"></i>
                            <span>12.03.2016(4 pm)</span>
                        </div>
					</div>
				</div>

                <div class="col-sm-6 col-md-4">
					<div class="gallery_block clearfix">
				        <figure>
                           <img src="img/owl2.jpg" alt="">
                           <figcaption>
                               <h3>Debating process</h3>
                               <span>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</span>
                               <a href="#" class="close-caption hidden">x</a>
                           </figcaption>
                        </figure>
                        <div class="gallery_block_left">
                            <i class="fa fa-university"></i>
                            <span class="hint">Event</span>
                            <span>Debating process</span>
                        </div>
                        <div class="gallery_block_right">
                            <i class="fa fa-clock-o"></i>
                            <span>12.03.2016(4 pm)</span>
                        </div>
					</div>
				</div>




                <div class="col-sm-6 col-md-4">
					<div class="gallery_block clearfix">
				        <figure>
                           <img src="img/owl3.jpg" alt="">
                           <figcaption>
                               <h3>Debating process</h3>
                               <span>Dolor sit amet mer sipon.</span>
                               <a href="#" class="close-caption hidden">x</a>
                           </figcaption>
                        </figure>
                        <div class="gallery_block_left">
                            <i class="fa fa-university"></i>
                            <span class="hint">Event</span>
                            <span>Debating process</span>
                        </div>
                        <div class="gallery_block_right">
                            <i class="fa fa-clock-o"></i>
                            <span>12.03.2016(4 pm)</span>
                        </div>
					</div>
				</div>
                </div>


             </div>
                </div>

            <div class="event_block debating_info">
                <h2 class="events_h2">Previous events</h2>
            <div class="row">


                <div id="effect">
				<div class="col-sm-6 col-md-4">
					<div class="gallery_block clearfix">
				        <figure>
                           <img src="img/owl5.jpg" alt="">
                           <figcaption>
                               <h3>Debating process</h3>
                               <span>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</span>
                               <a href="#" class="close-caption hidden">x</a>
                           </figcaption>
                        </figure>
                        <div class="gallery_block_left">
                            <i class="fa fa-university"></i>
                            <span class="hint">Event</span>
                            <span>Debating process</span>
                        </div>
                        <div class="gallery_block_right">
                            <i class="fa fa-clock-o"></i>
                            <span>12.03.2016(4 pm)</span>
                        </div>
					</div>
				</div>

                <div class="col-sm-6 col-md-4">
					<div class="gallery_block clearfix">
				        <figure>
                           <img src="img/owl6.jpg" alt="">
                           <figcaption>
                               <h3>Debating process</h3>
                               <span>Dolor sit amet mer sipon.</span>
                               <a href="#" class="close-caption hidden">x</a>
                           </figcaption>
                        </figure>
                        <div class="gallery_block_left">
                            <i class="fa fa-university"></i>
                            <span class="hint">Event</span>
                            <span>Debating process</span>
                        </div>
                        <div class="gallery_block_right">
                            <i class="fa fa-clock-o"></i>
                            <span>12.03.2016(4 pm)</span>
                        </div>
					</div>
				</div>



                <div class="col-sm-6 col-md-4">
					<div class="gallery_block clearfix">
				        <figure>
                           <img src="img/owl4.jpg" alt="">
                           <figcaption>
                               <h3>Debating process</h3>
                               <span>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</span>
                               <a href="#" class="close-caption hidden">x</a>
                           </figcaption>
                        </figure>
                        <div class="gallery_block_left">
                            <i class="fa fa-university"></i>
                            <span class="hint">Event</span>
                            <span>Debating process</span>
                        </div>
                        <div class="gallery_block_right">
                            <i class="fa fa-clock-o"></i>
                            <span>12.03.2016(4 pm)</span>
                        </div>
					</div>
				</div>
                </div>
             </div>
            </div>

		</div>
	</section>

    </main>
{% endblock %}