{% extends 'base.html' %}
{% load staticfiles %}
{% load imagekit %}
{% block main %}
<main>
   <section class="site_main textcenter">
      <div class="container">
         <div class="event_block">
            <h2 class="events_h2">Upcoming events</h2>
            <div class="row">
               <div class="effect">
                  {% for event in upcoming %}
                  <div class="col-sm-6 col-md-4">
                     <div class="gallery_block clearfix">
                        <figure>
                           {% thumbnail '400x240' event.image %}
                           <figcaption>
                              <h3>{{ event.title }}</h3>
                              <span>{{ event.description }}</span>
                              <a href="#" class="close-caption hidden">x</a>
                           </figcaption>
                        </figure>
                        <div class="gallery_block_left">
                           <i class="fa fa-university"></i>
                           <span class="hint">Event</span>
                           <span>{{ event.title }}</span>
                        </div>
                        <div class="gallery_block_right">
                           <i class="fa fa-clock-o"></i>
                           <span>{{ event.when }}</span>
                        </div>
                     </div>
                  </div>
                  {% if forloop.counter|divisibleby:"3" %}
               </div>
            </div>
            <div class="row">
               <div id="effect">
                  {% endif %}
                  {% empty %}
                  <p>No upcoming events</p>
                  {% endfor %}
               </div>
            </div>
         </div>
         <div class="event_block debating_info">
            <h2 class="events_h2">Previous events</h2>
            <div class="row">
               <div class="effect">
                  {% for event in previous %}
                  <div class="col-sm-6 col-md-4">
                     <div class="gallery_block clearfix">
                        <figure>
                           {% thumbnail '400x250'  event.image %}
                           <figcaption>
                              <h3>{{ event.title }}</h3>
                              <span>{{ event.description }}</span>
                              <a href="#" class="close-caption hidden">x</a>
                           </figcaption>
                        </figure>
                        <div class="gallery_block_left">
                           <i class="fa fa-university"></i>
                           <span class="hint">Event</span>
                           <span>{{ event.title }}</span>
                        </div>
                        <div class="gallery_block_right">
                           <i class="fa fa-clock-o"></i>
                           <span>{{ event.when }}</span>
                        </div>
                     </div>
                  </div>
                  {% if forloop.counter|divisibleby:"3" %}
               </div>
            </div>
            <div class="row">
               <div id="effect">
                  {% endif %}
                  {% empty %}
                  <p>No previous events</p>
                  {% endfor %}
               </div>
            </div>
         </div>
      </div>
   </section>
</main>
{% endblock %}