{% extends 'base.html' %}
{% load staticfiles %}
{% block main %}
<main>

       <section class="site_main">
		<div class="container">
			<div class="row">
				<div class="col-md-6">
					<div class="learn_block">
                              <h2>Workshops</h2>


									<p>The Reading Debating Society is one of the largest, friendliest, and most successful debating institutions, both nationally and across Europe. We are also one of the largest societies at Warwick, and have been a top 3 society every year since 2010.</p>
                                    <p>Everyone is welcome to join. We will support you with expert training, friendly sessions, and fun socials – scroll down to read more about it!</p>

                                    <a href="#" class="learn_button hvr-wobble-horizontal">Learn more</a>
					</div>
				</div>
				<div class="col-md-6">
					<div class="learn_block">

                        <h2>Helpful articles, videos, presentations and links</h2>
                        <p>Database with relevant material for you to anhance your argument-building, public speaking and debating skills. How to make an effective speech, how to sound persuasive and convincing, more on British Parliamentary style and oxford style.</p>

                        <div class="effect-2">
                            <a href="#" class="learn_link">Training-1-Introduction-to-BP-debating</a>
                            <a href="#" class="learn_link">Training-2-Role-fulfillment </a>
                            <a href="#" class="learn_link">Advanced-Training-Bottom-Half</a>
                            <a href="#" class="learn_link">Economics-Training</a>
                            <a href="#" class="learn_link">Philosophy-in-debates</a>
                            <a href="#" class="learn_link">Training-1-Introduction-to-BP-debating</a>
                            <a href="#" class="learn_link">Training-2-Role-fulfillment </a>
                            <a href="#" class="learn_link">Advanced-Training-Bottom-Half</a>
                            <a href="#" class="learn_link">Economics-Training</a>
                            <a href="#" class="learn_link">Philosophy-in-debates</a>
                        </div>
					</div>

				</div>
			</div>
		</div>
	</section>

    </main>
{% endblock %}