{% extends 'base.html' %}
{% load staticfiles %}
{% block main %}
    <main>

       <section class="site_main">
		<div class="container">
			<div class="row">

                <div id="lightgallery">
                    {% for photo in photos %}
                       <div class="col-xs-6 col-sm-4 col-md-3" data-src="{{ photo.photo.url }}" data-sub-html="<h4>{{ photo.title }}</h4><p>{{ photo.discription }}</p>">
                        <div class="gallery_item">
                    <a href="">
                        <img class="img-responsive" src="{{ photo.photo.url }}">
                    </a>
                        </div>
                    </div>
                    {% endfor %}
                </div>

			</div>
		</div>
	</section>

    </main>
{% endblock %}