{% extends 'base.html' %}
{% load staticfiles %}
{% block main %}
    <main>

       <section class="site_main">
		<div class="container">
			<div class="row">

                <div id="lightgallery">


                       <div class="col-xs-6 col-sm-4 col-md-3" data-src="img/owl6.jpg" data-sub-html="<h4>Fading Light</h4><p>Classic view from Rigwood Jetty on Coniston Water an old archive shot similar to an old post but a little later on.</p>">
                        <div class="gallery_item">
                    <a href="">
                        <img class="img-responsive" src="img/owl6.jpg">
                    </a>
                        </div>
                </div>

                <div class="col-xs-6 col-sm-4 col-md-3" data-src="img/owl1.jpg" data-sub-html="<h4>Fading Light</h4><p>Classic view from Rigwood Jetty on Coniston Water an old archive shot similar to an old post but a little later on.</p>">
                        <div class="gallery_item">
                    <a href="">
                        <img class="img-responsive" src="img/owl1.jpg">
                    </a>
                        </div>
                </div>

                <div class="col-xs-6 col-sm-4 col-md-3" data-src="img/owl1.jpg" data-sub-html="<h4>Fading Light</h4><p>Classic view from Rigwood Jetty on Coniston Water an old archive shot similar to an old post but a little later on.</p>">
                        <div class="gallery_item">
                    <a href="">
                        <img class="img-responsive" src="img/owl1.jpg">
                    </a>
                        </div>
                </div>

                <div class="col-xs-6 col-sm-4 col-md-3" data-src="img/owl5.jpg" data-sub-html="<h4>Fading Light</h4><p>Classic view from Rigwood Jetty on Coniston Water an old archive shot similar to an old post but a little later on.</p>">
                        <div class="gallery_item">
                    <a href="">
                        <img class="img-responsive" src="img/owl5.jpg">
                    </a>
                        </div>
                </div>

                <div class="col-xs-6 col-sm-4 col-md-3" data-src="img/owl3.jpg" data-sub-html="<h4>Fading Light</h4><p>Classic view from Rigwood Jetty on Coniston Water an old archive shot similar to an old post but a little later on.</p>">
                        <div class="gallery_item">
                    <a href="">
                        <img class="img-responsive" src="img/owl3.jpg">
                    </a>
                        </div>
                </div>

                <div class="col-xs-6 col-sm-4 col-md-3" data-src="img/owl4.jpg" data-sub-html="<h4>Fading Light</h4><p>Classic view from Rigwood Jetty on Coniston Water an old archive shot similar to an old post but a little later on.</p>">
                        <div class="gallery_item">
                    <a href="">
                        <img class="img-responsive" src="img/owl4.jpg">
                    </a>
                        </div>
                </div>

                <div class="col-xs-6 col-sm-4 col-md-3" data-src="img/owl6.jpg" data-sub-html="<h4>Fading Light</h4><p>Classic view from Rigwood Jetty on Coniston Water an old archive shot similar to an old post but a little later on.</p>">
                        <div class="gallery_item">
                    <a href="">
                        <img class="img-responsive" src="img/owl6.jpg">
                    </a>
                        </div>
                </div>

                <div class="col-xs-6 col-sm-4 col-md-3" data-src="img/owl2.jpg" data-sub-html="<h4>Fading Light</h4><p>Classic view from Rigwood Jetty on Coniston Water an old archive shot similar to an old post but a little later on.</p>">
                        <div class="gallery_item">
                    <a href="">
                        <img class="img-responsive" src="img/owl2.jpg">
                    </a>
                        </div>
                </div>

                <div class="col-xs-6 col-sm-4 col-md-3" data-src="img/owl4.jpg" data-sub-html="<h4>Fading Light</h4><p>Classic view from Rigwood Jetty on Coniston Water an old archive shot similar to an old post but a little later on.</p>">
                        <div class="gallery_item">
                    <a href="">
                        <img class="img-responsive" src="img/owl4.jpg">
                    </a>
                        </div>
                </div>

                <div class="col-xs-6 col-sm-4 col-md-3" data-src="img/owl1.jpg" data-sub-html="<h4>Fading Light</h4><p>Classic view from Rigwood Jetty on Coniston Water an old archive shot similar to an old post but a little later on.</p>">
                        <div class="gallery_item">
                    <a href="">
                        <img class="img-responsive" src="img/owl1.jpg">
                    </a>
                        </div>
                </div>

                <div class="col-xs-6 col-sm-4 col-md-3" data-src="img/owl3.jpg" data-sub-html="<h4>Fading Light</h4><p>Classic view from Rigwood Jetty on Coniston Water an old archive shot similar to an old post but a little later on.</p>">
                        <div class="gallery_item">
                    <a href="">
                        <img class="img-responsive" src="img/owl3.jpg">
                    </a>
                        </div>
                </div>

                <div class="col-xs-6 col-sm-4 col-md-3" data-src="img/owl6.jpg" data-sub-html="<h4>Fading Light</h4><p>Classic view from Rigwood Jetty on Coniston Water an old archive shot similar to an old post but a little later on.</p>">
                        <div class="gallery_item debating_info">
                    <a href="">
                        <img class="img-responsive" src="img/owl6.jpg">
                    </a>
                        </div>
                </div>





                </div>

			</div>
		</div>
	</section>

    </main>
{% endblock %}