{% extends 'base.html' %}
{% load staticfiles %}
{% block main %}
    <main>

               <section class="site_main">
		<div class="container">
			<div class="row">

                <div class="col-md-2">
					<aside class="year_aside">
                     <h2 class="p_bold">Sort albums by year</h2>
                        {% for year in years %}
                        <a href="/gallery/{{ year }}/" class="year_button hvr-sweep-to-bottom">{{ year }}</a>
                        {% endfor %}
					</aside>
				</div>

                <div class="col-md-10">
                    {% for album in albums %}
				<div class="col-sm-6">
					<div class="gallery_block clearfix">
				        <a href="{{ album.get_absolute_url }}">
                            <img src="{{ album.cover.url }}" alt="{{ album.title }}" ></a>
                        <div class="gallery_block_left">
                            <i class="fa fa-camera"></i>
                            <span class="hint">Album</span>
                            <span>{{ album.title }}</span>
                        </div>
                        <div class="gallery_block_right">
                            <i class="fa fa-clock-o"></i>
                            <span>{{ album.year }}</span>
                        </div>
					</div>
				</div>
                    {% empty %}
                        <p>NO ALBUMS IN DATABASE</p>
                    {% endfor %}


                </div>
             </div>
		</div>
	</section>

    </main>
{% endblock %}