{% extends 'base.html' %}
{% block main %}
    {% load staticfiles %}
     <main>

       <section class="site_main">
		<div class="container">

                {% if sponsors %}
                    {% for sponsor in sponsors %}
                        <div class="row">
                    <div class="col-md-4">
					<div class="welcome sponsors_block">
				        <a href="{{ sponsors.get_link }}"><img src="{{ sponsor.image.url }}" alt="sponsor_logo"></a>
                        <p><span>{{ sponsor.name }}</span>
                        {{ sponsor.description }}
                    </div>
				</div>
                        </div>
                    {% endfor %}
                <div class="row">
                <div class="col-md-4">
					<div class="welcome sponsors_block">
				        <a href="#"><img src="{% static 'img/sponsor1.jpg' %}" alt="sponsor_logo" ></a>
                        <p><span>GlobalLogic</span> is an offshore software RD services company that was founded in 2000 by Rajul Garg, Sanjay Singh, Manoj Agarwala, and Tarun Upadhyay and has headquarters in San Jose, California.</p>
					</div>
				</div>

                <div class="col-md-4">
					<div class="welcome sponsors_block">
                        <a href="#"><img src="{% static 'img/sponsor2.png'%}" alt="sponsor_logo" ></a>
                        <p><span>Android et vous</span> is an offshore software RD services company that was founded in 2000 by Rajul Garg, Sanjay Singh, Manoj Agarwala, and Tarun Upadhyay and has headquarters in San Jose, California.</p>
					</div>
				</div>

                <div class="col-md-4">
					<div class="welcome sponsors_block">
                        <a href="#"><img src="{% static 'img/sponsor3.png'%}" alt="sponsor_logo" ></a>
                        <p><span>Giant</span> is an offshore software RD services company that was founded in 2000 by Rajul Garg, Sanjay Singh, Manoj Agarwala, and Tarun Upadhyay and has headquarters in San Jose, California.</p>
					</div>
				</div>
                </div>

                <div class="row">
                <div class="col-md-4">
					<div class="welcome debating_info sponsors_block">
                        <a href="#"><img src="{% static 'img/sponsor4.png'%}" alt="sponsor_logo" ></a>
                        <p><span>Activision</span> is an offshore software RD services company that was founded in 2000 by Rajul Garg, Sanjay Singh, Manoj Agarwala, and Tarun Upadhyay and has headquarters in San Jose, California.</p>
					</div>
				</div>

                <div class="col-md-4">
					<div class="welcome debating_info sponsors_block">
                        <a href="#"><img src="{% static 'img/sponsor5.png'%}" alt="sponsor_logo" ></a>
                        <p><span>Case-Mate</span> is an offshore software RD services company that was founded in 2000 by Rajul Garg, Sanjay Singh, Manoj Agarwala, and Tarun Upadhyay and has headquarters in San Jose, California.</p>
					</div>
				</div></div>
                    {% endif %}
		</div>
	</section>

    </main>
{% endblock %}