{% extends 'base.html' %}
{% block main %}
    {% load staticfiles %}
     <main>

       <section class="site_main">
		<div class="container">

                    {% for sponsor in sponsors %}
                        {% if forloop.counter|divisibleby:"3" %}
                        <div class="row">
                        {% endif %}
                    <div class="col-md-4">
					<div class="welcome sponsors_block">
				        <a href="{{ sponsors.get_link }}"><img src="{{ sponsor.image.url }}" alt="sponsor_logo"></a>
                        <p><span>{{ sponsor.name }}</span>
                        {{ sponsor.description }}
                    </div>
				    </div>
                    {% if forloop.counter|divisibleby:"3" %}
                        </div>
                        {% endif %}
                    {% empty %}
                        <p>No sponsors</p>
                    {% endfor %}
		</div>
	</section>
     <br>

    </main>
{% endblock %}