{% extends 'base.html' %}
{% load staticfiles %}
{% load imagekit %}
{% block main %}
 <main>
       {% if slider %}
       <section class="slider">
                    <h1>Section identifying heading</h1>
                            <div class="prev_button"><i class="fa fa-angle-left"></i></div>
                               <div class="next_button"><i class="fa fa-angle-right"></i></div>
           
							<div id="owl-demo">
                                {% for slide in slider %}
                                <div class="item">
                                    <a class="fancybox" data-fancybox-group="group" href="{{ slide.image.url }}">
                                        {% thumbnail '350x250' slide.image -- alt="Debating Society" %}
                                    </a>
                                </div>
						        {% endfor %}
                            </div>                
		
       </section>
       {% endif %}
       <section class="site_main">
           <h2>Section identifying heading</h2>
		<div class="container">
			<div class="row">
				<div class="col-sm-7 col-md-8">
					<div class="welcome clearfix">
									<h2>Welcome!</h2>
									<img src="{% static  'img/graduate-icon.png' %}" alt="alt" width="140" height="90">
								    {{ flatblock.content|safe }}
					</div>
				</div>
				<div class="col-sm-5 col-md-4">
					<aside class="right_aside">
                     <div class="twitter_widget">
                      <a class="twitter-timeline" href="https://twitter.com/UniofReading" data-widget-id="700486111513092096">Твиты от @UniofReading</a>
<script async>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
                      </div>
					</aside>
				</div>
			</div>
		</div>
	</section>
    
    <section class="site_main_2">
		<div class="container">
			<div class="row">
				<div class="col-md-8">
					<div class="join clearfix">
                        <div class="join_descr">
                    <h2>Ways to join the society: </h2>1.  By registering and paying the membership fee online (click)<p>2. Paying at RUSU reception </p> <p> 3. Paying to the treasurer at one of our sessions  </p>
                        </div>
				  
					<div class="sell_right">
						<a href="http://www.rusu.co.uk/societies/debate/" class="button hvr-wobble-horizontal">Join the society now</a>
					</div>
                    </div>
							
						
                </div>	
            

			</div> 
		</div>
	</section>
    </main>
{% endblock %}